/*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.project
/.settings
/gen
/gen-external-apklibs
/out
/.classpath
/bin
/target
/tmp
/**/atlassian-ide-plugin.xml
.gradle
/local.properties
/**/local-modules.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild/.idea
